.dashboard {
  height: calc(100vh - 64px); /* Navbar height */
  overflow: hidden;
}

.product-list {
  height: 100%;
  overflow-y: auto;
}

.product-details {
  height: 100%;
  overflow-y: auto;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}