<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" routerLink="" routerLinkActive="active">
    Navbar
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <!-- Left Menu -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="users" routerLinkActive="active">Users</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="product" routerLinkActive="active">Products</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="fairs" routerLinkActive="active">Fairs</a>
      </li>
    </ul>

    <!-- Right Button -->
    <button mat-raised-button color="warn" (click)="onlogOut()">
      Log Out
    </button>

  </div>
</nav>